/* Style.css */

@keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animation-contain {
    animation: slideInRight 1s ease-in-out; /* Adjust the duration and easing as needed */
  }
  