.input{
    width: 400px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}


@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .containerw {
    animation: slideInLeft 1s ease-in-out; /* Adjust the duration and easing as needed */
  }
  



  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .conta {
    animation: slideInRight 1s ease-in-out; /* Adjust the duration and easing as needed */
  }
  